/* DIALOG */

.dialog--form {}

.dialog--input {
    margin: 5px;
}

.dialog--button {
    padding: 5px;
}

.ngw-map-container.leaflet-container {
    background: #fff;
}

.leaflet-pane.leaflet-popup-pane {
    z-index: 10001;
}

.leaflet-pane.leaflet-tooltip-pane {
    z-index: 10002;
}
