* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #container, #map {
    width: 100%;
    height: 100%;
}

html {
    overflow: hidden;
}

#container {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    height: 100%;
}

#geocoder, #tree, #map {
    height: 100%;
}

/* DIALOG */

.dialog--form {}

.dialog--input {
    margin: 5px;
}

.dialog--button {
    padding: 5px;
}

.ngw-map-container.leaflet-container {
    background: #fff;
}

.leaflet-pane.leaflet-popup-pane {
    z-index: 10001;
}

.leaflet-pane.leaflet-tooltip-pane {
    z-index: 10002;
}
